*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  background: #492a3f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #232136,
    #492a3f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #232136, #492a3f);
  font-family: Arial, Helvetica, sans-serif;
}
ul {
  list-style: none;
  padding: none;
  margin: none;
}
h2 {
  text-align: center;
}
span.resultado {
  position: relative;
  width: 100%;
}
.resultado-enter {
  transition: 0.5s;
}
.resultado-enter.resultado-enter-active {
  transform: translateY(0%);
}
.resultado-exit {
  transform: translateY(0);
  transition: 0.5s;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}
.resultado-exit-active {
  opacity: 0;
  transform: translateY(-10%);
}

/* Spinner Styles */
.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 100px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #916001;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}