html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
* {
  margin:0 ;
}
html {
  height: 100%;
}
body {
  background-image: url(background.jpg);
  background-repeat:no-repeat;
  background-size: cover;
  background-position:center;
  

  
}


@media (max-height:825px) {
  body {
    background-position: -750px;
  }
}

@media (max-height:750px) {
  body {
    background-position: -650px;
  }
}

@media (max-height:670px) {
  body {
    background-position: -550px;
  }
}

@media (min-width:480px) {
  body {
    background-position: center;
  }
}




#root {
  width: 100%;
}