:root {
  /* Colors */

  --white: #ffffff;
  --gray: #DBDBDB;
  --font-primary-color: #4b587c;
  --btn-primary: #e12e0d;
  --btn-secondary: #DA552F;


  /* Font Family */

  --font-primary: "Open Sans", sans-serif;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
}

h1, h2, h3 {
  margin: 0 0 2rem 0;
  line-height: 1.5;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.swal2-popup{
  font-size: 1.5rem !important; 
}