body {
  background-color: #0d2235;
}
.error {
  background-color: #b7322c;
  padding: 1rem;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}
.resultado {
  color: white;
}
.resultado h2 {
  font-weight: bold;
  color: white;
}
.resultado p {
  font-size: 18px !important;
}
.resultado p span {
  font-weight: bold;
}
p.precio {
  font-size: 30px !important;
}

//App
.App {
  max-width: 900px;
  margin: 0 auto;
  @media (min-width: 992px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }

  img {
    max-width: 100%;
    margin-top: 5rem;
  }

  h1 {
    font-family: "Bebas Neue", cursive;
    color: #fff;
    text-align: left;
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 50px;
    margin-top: 80px;

    &::after {
      content: "";
      width: 100px;
      height: 6px;
      background-color: #66a2fe;
      display: block;
    }
  }
}

//Form
.buttonSubmit {
  margin-top: 20px;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  background-color: #66a2fe;
  border: none;
  width: 100%;
  border-radius: 10px;
  color: #fff;
  transition: 0.3s ease;

  &:hover {
    background-color: #326ac0;
    cursor: pointer;
  }
}

.font {
  font-family: "Bebas Neue", cursive !important;
  font-size: 30px;
}

//useCoin
.contentUseCoin {
  label {
    font-family: "Bebas Neue", cursive;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.4rem;
    margin-top: 2rem;
    display: block;
  }

  select {
    width: 100%;
    display: block;
    padding: 1rem;
    -webkit-appearance: none;
    border-radius: 10px;
    border: none;
    font-size: 1.2rem;
  }
}

//Quote
.resultContent {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;

  p {
    font-size: 18px;
  }
  .price {
    font-size: 30px;
    
    span {
      font-weight: bold;
    }
  }
}

